<div class="bg">
<div class="container">
    <div class="row">
      <h3 appHighlight>Welcome {{user}}</h3>
<div class=" col-12 col-md-6">
  <div class="noti">
    <h3><button (click)="Remainder()"><i class="fas fa-bell"></i></button></h3>

      <p id="rem"></p>
      <button type="submit" class="btnS btn-primary" (click)="showEvents()">Show all Events</button>
  </div>
</div>
<div class=" col-12 col-md-6">
    <form   (ngSubmit)="addRemainder()" class="home_container">
      <h1 class="login">Add Remainder</h1>
      <div class="form-group">
        <input type="date" id="date" name="date" [(ngModel)]="date" class="form-control">
    </div>
       <div class="form-group">
        <input type="text" class="form-control" id="event"  [(ngModel)]="event" name="event" placeholder="Event">
      </div> 
      <!-- <div class="form-group">
        <input type="text" class="form-control" id="email"  placeholder="Email" formControlName="email" name="email" email>
        <div  *ngIf="(addRemainder.get('email')?.touched || addRemainder.get('email')?.dirty) && addRemainder.get('email')?.errors" class="error">Invalid User Email</div>
    </div> -->
      <button type="submit" class="btnG">Save</button>
      
    </form>
  </div>
  
  </div>

</div>  
</div>
