/* You can add global styles to this file, and also import other style files */
.body{
  margin: 0 auto;
}
.bg-img {
    /* The image used */
    background-image: url("assets/bg.jpg");
    min-height:620px;
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }
 
  .bg{
    background-color: rgb(204, 204, 43);
    min-height:750px;
   
}
.navbar-dark {
  font-family: 'Righteous', cursive;
  background:#1669bd; 
  padding: 20px;
}

.home_container {
    position: absolute;
    top: 120px;
    margin: 20px;
    width: 350px;
    padding: 20px;
    background-color: rgb(129, 142, 172);
   
  }
 /*  .showEvent_container {
    position: absolute;
    top: 260px;
    margin: 20px;
    width: 350px;
    padding: 16px;
    background-color: white;
   
  } */
 
  input[type=text], input[type=password] ,input[type=email], input[type=date]{
    width: 100%;
    padding: 10px;
    margin: 5px 0 10px 0;
    border: none;
    background: #f1f1f1;
  }
  
  input[type=text]:focus, input[type=password]:focus ,input[type=email]:focus ,input[type=date]:focus{
    background-color: #ddd;
    outline: none;
  }
  
  /* Set a style for the submit button */
  .login{
      text-align: center;
      color:rgb(6, 6, 63);
  }
  .btnG {
    background-color: #04AA6D;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
  }
  
  .btnG:hover {
    opacity: 1;
  }
  .btnB  {
    margin-top: 5px;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
  }
  
  .btnB:hover {
    opacity: 1;
  }
 
 
  /* Add styles to the form container */
  
  /* Full-width input fields */

.forgot{
    margin-top: 15px;
    text-align: center;
}
.forgot a,.logout a{
    text-decoration: none;
    color: #05153b;
    font-size: 17px;
}

@media(min-width:360px) and (max-width:640px) {

  .home_container {
    position: absolute;
    top: 60px;
    width: 300px;
  } 
}
@media(min-width:411px) and (max-width:731px) {

  .home_container {
    position: absolute;
    top: 60px;
    width: 350px;
  } 
}
/* @media(min-width:411px) and (max-width:731px) {

  .home_container {
    position: absolute;
    top: 60px;
    width: 350px;
  } 
} */