<div class="bg-img">
    <div class="container">
        <div class="row">
    <div class=" col-12 col-md-4"></div>
    <div class=" col-12 col-md-4">
        <form  [formGroup]="registerForm" (ngSubmit)="register()" class="home_container">
          <h1 class="login">Register</h1>
         <!--   <div class="form-group">
            <input type="text" class="form-control" id="uid"  placeholder="User ID" formControlName="userid" name="userid">
            <div  *ngIf="(registerForm.get('userid')?.touched || registerForm.get('userid')?.dirty) && registerForm.get('userid')?.errors" class="error">Invalid account no</div>
        </div>  -->
        <div class="form-group">
          <input type="email" class="form-control" id="email" placeholder="Email" formControlName="email" name="email" email>
          <div  *ngIf="(registerForm.get('email')?.touched || registerForm.get('email')?.dirty) && registerForm.get('email')?.errors" class="error">Invalid Email id</div>
        </div>
          <div class="form-group">
            <input type="text" class="form-control" id="uname"  placeholder="Username" formControlName="username" name="username" >
            <div  *ngIf="(registerForm.get('username')?.touched || registerForm.get('username')?.dirty) && registerForm.get('username')?.errors" class="error">Invalid Username</div>
          </div>
          <div class="form-group">
            <input type="password" class="form-control" id="password" placeholder="Password" formControlName="password" name="password">
            <div  *ngIf="(registerForm.get('password')?.touched || registerForm.get('password')?.dirty) && registerForm.get('password')?.errors" class="error">Invalid Password</div>
          </div>
          <button type="submit" class="btnG">Register</button>
          <div class="forgot"><a href="#">Login</a> </div>
        </form>
      </div>
      <div class=" col-12 col-md-4" ></div>
      </div>
      </div>
      </div>
